<div class="hero min-h-screen w-full relative pt-16 bg-[url('https://images.unsplash.com/photo-1550751827-4bd374c3f58b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80')] bg-cover bg-center">
  <div class="hero-overlay bg-opacity-80 absolute inset-0 bg-gradient-to-r from-base-300 to-base-300/50"></div>
  <div class="hero-content text-neutral-content container mx-auto px-4">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
      <div class="max-w-2xl">
        <h1 class="mb-5 text-5xl font-bold">Transform Your Future with a Cybersecurity Degree</h1>
        <p class="mb-5 text-xl">Join the frontlines of digital defense and become a cybersecurity expert in high demand.</p>
        <button class="btn btn-primary btn-lg">Request More Info</button>
      </div>
      <div class="hidden lg:block relative">
        <div class="bg-white rounded-lg shadow-2xl">
          
        </div>
        <%= image_tag 'skunkworksu.webp', alt: 'Skunkworks U Logo', class: 'h-[300px]' %>
      </div>
    </div>
  </div>
</div>
