<section class="hero min-h-screen w-full relative">
  <div class="h-full w-full bg-[url('https://images.unsplash.com/photo-1550751827-4bd374c3f58b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80')] bg-cover bg-center"></div>  
  <div class="absolute inset-0 bg-gradient-to-r from-gray-900/95 to-gray-800/85"></div>
  <div class="pt-16 hero-content text-neutral-content container mx-auto px-4">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center max-w-6xl mx-auto">
      <div class="text-left">
        <h1 class="mb-5 text-5xl font-bold">Defend the Digital Frontier</h1>
        <p class="mb-5 text-xl">Master the art of cybersecurity and become the guardian of tomorrow's digital landscape. Your journey to becoming an elite cyber defender starts here.</p>
        <button class="btn btn-primary bg-green-500 hover:bg-green-400 text-white btn-lg h-14">Request More Info</button>
      </div>
      <div class="hidden lg:block relative mx-auto">
        <div class="bg-white rounded-lg shadow-2xl">
          
        </div>
        <%= image_tag 'skunkworksu.webp', alt: 'Skunkworks U Logo', class: 'h-[300px]' %>
      </div>
    </div>
  </div>
</section>
